<h1>Headline of My Track #3 Quiz App!</h1>
<hr />
<p>This paragraph is some static content, as requested in the instructions for this quiz.</p>
<p>I could add a photo here, but why ruin the beautiful background?</p>