nav.navbar.navbar-inverse {
  text-align:left;
  margin: 2% 1.5% 0 1.5%;
  color: #fff;
}

.container-fluid {
  margin:0 0 24px 0;
}

a.navbar-brand {
  font-size: 130%;
  color: #FFBFFB;
  text-decoration: none;
}

a.navbar-brand:hover, .navbar-nav li a:hover {
  color: #FFF;
  text-decoration: none;
}

ul.nav.navbar-nav.navbar-right {
  display:inline;
  text-align: justify;
  min-width: 500px;
}

.navbar-nav li {
  display: inline;
  text-align: right;
  margin:0 0 0 4%;
}

.navbar-nav li a {
 /* float: left; */
  color: #FFBFFB;
  font-size: 90%;
  text-decoration: none;
}

.collapse.navbar-collapse {
  margin-right:0;
}

body {
  background-image: url('/assets/fishing-in-sunrise.jpg');
  background-size: auto;
  font-family: 'Molle', cursive;
  font-size: 210%;
  font-weight: lighter;
  color: #fff;
  text-align:center;
}

hr {
  width: 97%;
}

p {
  text-shadow: 2px 2px 2px #555;
}

form a {
  color: blue;
}

.form-inputs {
  text-align: center;
}

input {
  margin-left: 15px;
}

input.btn {
  margin: 5px auto 20px auto;
  font-size: 60%;
}

span.hint {
  color: #FFBFFB;
}