body {
  background-image: url('/assets/fishing-in-sunrise.jpg');
  background-size: auto;
  font-family: 'Molle', cursive;
  font-size: 225%;
  font-weight: lighter;
  color: #fff;
  text-align:center;
}

hr {
  width: 90%;
}

p {
  text-shadow: 2px 2px 2px #555;
}